 body {
     background-color: #378A6A;
     vertical-align: middle;
     justify-content: center;
     align-items: center;
     justify-content: center;
     color: #000a06;
     font-family: 'arial';
}

.div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.selector {
    background-color: #0E563B;
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: center;
    margin-right: 1%;
    border-radius: 3px;
    min-height: auto;
}

.selection {
    background-color: #003924;
    height: 92.6px;
    margin-top: 1px;
    border-radius: 3px;
    transition: 0.5s
}

.selection:hover {
    background-color: #00724e;
    transition: 0.5s;
}

.img-content {
    background-color: black;
    width: 600px;
}

.icon {
    margin-left: 300px;
    transition: 0.25s;
}

.icon:hover {
    cursor: pointer;
    color: #99ffdf;
    transition: 0.25s;
}

